<div class="px-2 md:px-[60px] md:py-10 overflow-y-auto">
    <div class="my-2 border-b-4 border-b-primary">
        <h2 class="text-[22px] md:text-heading">Add Employee</h2>
    </div>
    <div class="bg-white md:mt-8 shadow-md shadow-black">
        <form class="flex flex-col space-y-10 p-2 md:p-7" (ngSubmit)="onSubmit(f)" #f="ngForm">
            <div class="flex flex-col space-y-4 md:space-y-0 md:space-x-8 md:flex-row">
                <div class="flex flex-col space-y-[38px]">
                    <div class="flex-1 relative mt-[38px] md:mt-0">
                        <input type="text" id="firstName" class="w-full md:w-[587px] h-[56px] p-4 rounded-md border focus:outline-none focus:border-2 focus:border-green-500 peer placeholder:text-transparent" placeholder="First Name" ngModel required name="firstName" #firstName="ngModel">
                        <label for="firstName" class="absolute left-0 text-green-500 bg-white duration-300 transform -translate-y-2 mx-4 text-xs ease-linear peer-placeholder-shown:translate-y-4 peer-placeholder-shown:text-base peer-placeholder-shown:text-gray-400 peer-focus:-translate-y-2 cursor-text">First Name</label>
                    </div>
                    <div class="relative flex-1">
                        <input id="middleName" type="text" class="w-full md:w-[587px] h-[56px] p-4 rounded-md border focus:border-green-700 peer placeholder:text-transparent" placeholder="Middle Name" ngModel name="firstName" #firstName="ngModel">
                        <label for="middleName" class="absolute left-0 text-green-500 bg-white -translate-y-2 mx-4 text-xs duration-100 ease-linear peer-placeholder-shown:translate-y-4 peer-placeholder-shown:text-base peer-placeholder-shown:text-gray-400 peer-focus:-translate-y-2 cursor-text">Middle Name</label>
                    </div>
                    <div class="relative flex-1">
                        <input id="lastName" type="text" class="w-full md:w-[587px] p-4 rounded-md border focus:border-green-700 peer placeholder:text-transparent" placeholder="Last Name" ngModel required name="lastName" #lastName="ngModel">
                        <label for="lastName" class="absolute left-0 text-green-500 bg-white -translate-y-2 mx-4 text-xs duration-100 ease-linear peer-placeholder-shown:translate-y-4 peer-placeholder-shown:text-base peer-placeholder-shown:text-gray-400 peer-focus:-translate-y-2 cursor-text">Last Name</label>
                    </div>
                </div>
                <div class="flex-1 flex items-center justify-center border-2 border-dashed order-first md:order-none">
                    <div class="border-dashed" (click)="onChangeImage()">
                        <img [src]="url" alt="" class="w-[278px] h-[241px]">
                        <input type="file" class="hidden" id="image" (change)="onSelected($event)" ngModel required name="image" #image="ngModel">
                    </div>
                </div>
            </div>
            <div class="flex flex-col space-y-4 md:space-y-0 md:space-x-8 md:flex-row">
                <div class="relative flex-1">
                    <input id="spouseName" type="text" class="w-full h-[56px] p-4 rounded-md border focus:border-green-700 peer placeholder:text-transparent" placeholder="Spouse Name" ngModel name="spouseName" #spouseName="ngModel">
                    <label for="spouseName" class="absolute left-0 text-green-500 bg-white -translate-y-2 mx-4 text-xs duration-100 ease-linear peer-placeholder-shown:translate-y-4 peer-placeholder-shown:text-base peer-placeholder-shown:text-gray-400 peer-focus:-translate-y-2 cursor-text">Spouse Name</label>
                </div>
                <div class="relative flex-1">
                    <input id="fatherName" type="text" class="w-full h-[56px] p-4 rounded-md border focus:border-green-700 peer placeholder:text-transparent" placeholder="Father Name" ngModel required name="fatherName" #fatherName="ngModel">
                    <label for="fatherName" class="absolute left-0 text-green-500 bg-white -translate-y-2 mx-4 text-xs duration-100 ease-linear peer-placeholder-shown:translate-y-4 peer-placeholder-shown:text-base peer-placeholder-shown:text-gray-400 peer-focus:-translate-y-2 cursor-text">Father Name</label>
                </div>
                <div class="relative flex-1">
                    <input id="motherName" type="text" class="w-full h-[56px] p-4 rounded-md border focus:border-green-700 peer placeholder:text-transparent" placeholder="Mother Name" ngModel required name="motherName" #motherName="ngModel">
                    <label for="motherName" class="absolute left-0 text-green-500 bg-white -translate-y-2 mx-4 text-xs duration-100 ease-linear peer-placeholder-shown:translate-y-4 peer-placeholder-shown:text-base peer-placeholder-shown:text-gray-400 peer-focus:-translate-y-2 cursor-text">Mother Name</label>
                </div>
            </div>
            <div class="flex flex-col space-y-4 md:space-y-0 md:space-x-8 md:flex-row">
                <div class="relative flex-1">
                    <input id="designation" type="text" class="w-full h-[56px] p-4 rounded-md border focus:border-green-700 peer placeholder:text-transparent" placeholder="Designation" ngModel required name="designation" #designation="ngModel">
                    <label for="designation" class="absolute left-0 text-green-500 bg-white -translate-y-2 mx-4 text-xs duration-100 ease-linear peer-placeholder-shown:translate-y-4 peer-placeholder-shown:text-base peer-placeholder-shown:text-gray-400 peer-focus:-translate-y-2 cursor-text">Designation</label>
                </div>
                <div class="relative flex-1">
                    <input id="email" type="text" class="w-full h-[56px] p-4 rounded-md border focus:border-green-700 peer placeholder:text-transparent" placeholder="Email" ngModel required name="email" #email="ngModel">
                    <label for="email" class="absolute left-0 text-green-500 bg-white -translate-y-2 mx-4 text-xs duration-100 ease-linear peer-placeholder-shown:translate-y-4 peer-placeholder-shown:text-base peer-placeholder-shown:text-gray-400 peer-focus:-translate-y-2 cursor-text">Email</label>
                </div>
                <div class="relative flex-1">
                    <input id="phoneNumber" type="text" class="w-full h-[56px] p-4 rounded-md border focus:border-green-700 peer placeholder:text-transparent" placeholder="Phone Number" ngModel required name="phoneNumber" #phoneNumber="ngModel" (keypress)="isPhoneNumber($event)">
                    <label for="phoneNumber" class="absolute left-0 text-green-500 bg-white -translate-y-2 mx-4 text-xs duration-100 ease-linear peer-placeholder-shown:translate-y-4 peer-placeholder-shown:text-base peer-placeholder-shown:text-gray-400 peer-focus:-translate-y-2 cursor-text">Phone Number</label>
                </div>
            </div>
            <div class="flex flex-col space-y-4 md:space-y-0 md:space-x-8 md:flex-row">
                <div class="relative flex-1">
                    <select id="gender" class="w-full h-[56px] p-4 rounded-md border focus:border-green-700 peer placeholder:text-transparent" placeholder="Gender" ngModel required name="gender" #gender="ngModel">
                        <option>Male</option>
                        <option>Female</option>
                        <option>Other</option>
                    </select>
                    <label for="gender" class="absolute left-0 text-gray-400 bg-white -translate-y-2 mx-4 text-xs duration-100 ease-linear peer-placeholder-shown:translate-y-4 peer-placeholder-shown:text-base peer-placeholder-shown:text-gray-400">Gender</label>
                </div>
                <div class="relative flex-1">
                    <input id="dob" type="date" class="w-full h-[56px] p-4 rounded-md border focus:border-green-700 peer placeholder:text-transparent" placeholder="Date of Birth" ngModel required name="dob" #dob="ngModel">
                    <label for="dob" class="absolute left-0 text-gray-400 bg-white -translate-y-2 mx-4 text-xs duration-100 ease-linear peer-placeholder-shown:translate-y-4 peer-placeholder-shown:text-base peer-placeholder-shown:text-gray-400">Date of Birth</label>
                </div>
                <div class="relative flex-1">
                    <input id="joinDate" type="date" class="w-full h-[56px] p-4 rounded-md border focus:border-green-700 peer placeholder:text-transparent" placeholder="Date of Join" ngModel required name="joinDate" #joindate="ngModel">
                    <label for="joinDate" class="absolute left-0 text-gray-400 bg-white -translate-y-2 mx-4 text-xs duration-100 ease-linear peer-placeholder-shown:translate-y-4 peer-placeholder-shown:text-base peer-placeholder-shown:text-gray-400">Date of Join</label>
                </div>
                <div class="relative flex-1">
                    <input id="nid" type="text" class="w-full h-[56px] p-4 rounded-md border focus:border-green-700 peer placeholder:text-transparent" placeholder="NID" ngModel required name="nid" #nid="ngModel" (keypress)="isNumber($event)">
                    <label for="nid" class="absolute left-0 text-green-500 bg-white -translate-y-2 mx-4 text-xs duration-100 ease-linear peer-placeholder-shown:translate-y-4 peer-placeholder-shown:text-base peer-placeholder-shown:text-gray-400 peer-focus:-translate-y-2 cursor-text">NID</label>
                </div>
            </div>
            <button class="w-full h-[50px] bg-primary text-white rounded-md">Submit</button>
        </form>
    </div>
</div>
