<div class="flex w-screen md:w-[calc(100vw-256px)] h-full bg-primary">
    <div class="flex w-1/2 md:space-x-[10px] pl-2 md:pl-10">
        <img src="../../../assets/images/logo.png" alt="" class="w-[50px] h-[50px] my-auto">
        <p class="text-primary text-border my-auto md:text-[22px]/[35.2px] tracking-[3px] md:font-extrabol">BSS
            RESTAURANT
        </p>
    </div>
    <div class="flex w-1/2 justify-end pr-2 md:pr-20">
        <div class="hidden md:flex">
            <div class="flex h-full bg-secondary items-center justify-center p-8">
                <p class="text-white">Admin</p>
            </div>
            <div class="flex h-full hover:bg-secondary items-center justify-center p-8">
                <p class="text-white">Our Service</p>
            </div>
            <div class="flex h-full hover:bg-secondary items-center justify-center p-8">
                <p class="text-white">About Us</p>
            </div>
        </div>
        <div class="flex relative">
            <div *ngIf="totalOrders>0" class="w-5 h-5 text-center rounded-full bg-white absolute top-3 left-5">{{
                totalOrders }}</div>
            <div class="flex h-full items-center justify-center" (click)="onCartToggle()">
                <mat-icon class="text-white">shopping_basket</mat-icon>
            </div>
            <div class="flex h-full items-center justify-center ml-10 md:hidden" (click)="onNavbarToggle()">
                <mat-icon class="text-white">{{ navbarOpen ? "close": "menu"}}</mat-icon>
            </div>
        </div>
    </div>
</div>