<div
    class="flex flex-col space-x-4 border-2 border-gray-200 bg-white rounded-md w-full p-4 md:flex-row md:space-y-0 md:space-x-4 hover:border-primary">
    <img [src]="baseImageUrl+'food/'+food.image" alt="" class="w-[150px] h-[150px] rounded-full mx-auto md:my-auto">
    <div class="flex w-full flex-col space-y-2 pr-4">
        <h3 class="text-lg font-semibold">{{ food.name }}</h3>
        <p>{{ food.description }}</p>
        <div class="flex flex-col md:flex-row w-full justify-between">
            <div>
                <div *ngIf="food.discountPrice; else elseBlock">

                    <p class="text-red-600 text-xl line-through">
                        Price: <span
                            class="font-semibold text-primary">{{
                            food.price }}</span> BDT
                    </p>


                    <p class="text-green-400 text-xl">Discounted Price: <span class="font-semibold text-green-500">{{
                            food.discountPrice }}</span>
                        BDT</p>
                </div>
                <ng-template #elseBlock>
                    <div *ngIf="!food.discountPrice">
                        <p>Price: <span class="text-xl font-semibold">{{
                                food.price }}</span> BDT</p>
                    </div>
                </ng-template>
            </div>
            <button [disabled]="isClicked" [ngClass]="{ 'bg-disable' : isClicked }"
                class="md:w-40 bg-primary h-10 my-2 rounded-md hover:bg-red-800" (click)="onOrderFood(food)">Add to
                Cart</button>
        </div>
    </div>
</div>