<div>
    <div *ngIf="isLoading" class="flex w-screen h-sreen items-center justify-center">
        <app-spinner></app-spinner>
    </div>
    <div *ngIf="!isLoading"  class="w-screen h-screen flex">
        <div class="hidden md:flex w-full h-full justify-center items-center bg-login-image md:w-1/2 md:animate-slideY"><img
                src="../../../assets/images/login-food.png"
                class="w-[480px] h-[480px] animate-spinSlow">
        </div>
        <div class="flex w-full h-full justify-center md:w-1/2 animate-slideX">
            <div class="w-full md:w-5/6 bg-[#f1f1f1] md:my-2 md:mx-16 md:rounded-xl">
                <div class="flex flex-col justify-center items-center mx-11 my-8">
                    <img src="../../../assets/images/logo.png" alt="" width="110px"
                        height="110px">
                    <p class="mt-3 text-2xl font-bold text-white tracking-wide text-shadow shadow-red-700">BSS
                        RESTAURANT</p>
                </div>
                <form class="mx-11 my-8" (ngSubmit)="onSubmit()">
                    <div class="mb-5">
                        <label for="username" class="text-lg mb-2">Username:</label>
                        <input type="text" id="username"
                            class="w-full text-lg py-3 pr-12 pl-3 border-2 rounded-md focus:border-green-500"
                            placeholder="username" [(ngModel)]="userName" name="username" required>
                    </div>
                    <div class="mb-5">
                        <label for="password" class="text-lg mb-2">Password:</label>
                        <input type="password" id="password"
                            class="w-full text-lg py-3 pr-12 pl-3 border-2 rounded-md focus:border-green-500"
                            placeholder="password" [(ngModel)]="password" name="password" required minlength="6">
                    </div>
                    <div>
                        <button type="submit" class="w-full text-lg text-white py-4 rounded-md bg-primary">Log
                            in</button>
                    </div>
                    <div class="mt-5 text-center">
                        <p class="text-secondary">Back To Home</p>
                        <p *ngIf="isError" class="text-primary">Login Failed</p>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>