<div class="md:px-[60px] md:py-10 w-full overflow-y-auto">
    <div *ngIf="isLoading"
        class="flex justify-center items-center w-screen h-screen bg-black bg-opacity-60 z-50 absolute top-0 left-0">
        <app-spinner></app-spinner>
    </div>
    <div class="w-full">
        <div class="flex flex-col space-y-4 md:space-y-0 md:flex-row md:justify-between mb-6">
            <div class="w-48 px-4 pt-2">
                <h1 class="text-[22px] md:text-heading  border-b-4 border-b-primary">All Orders</h1>
            </div>
            <div class="px-4 relative">
                <div id="dropdownDefaultButton"
                    class="w-full md:w-48 border-b-2 border-b-gray-400 focus:outline-none focus:border-b-green-400 font-medium text-sm px-4 md:px-2 py-2 text-center inline-flex items-center justify-between"
                    type="button" (click)="onSearchClicked()">{{ searchText }}
                    <mat-icon>{{ isSearchClicked ? "keyboard_arrow_up" :
                        "keyboard_arrow_down" }}</mat-icon>
                </div>

                <!-- Dropdown menu -->
                <div *ngIf="isSearchClicked" id="dropdown"
                    class="bg-white divide-y divide-gray-100 rounded-lg shadow w-full md:w-48 z-50 absolute">
                    <ul class="py-2 text-sm text-gray-700 dark:text-gray-200"
                        *ngFor="let statusOption of statusOptions">
                        <li>
                            <p (click)="onSearchSelect(statusOption)"
                                class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white cursor-default">
                                {{ statusOption.text }}</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="grid grid-cols-1 gap-4 md:grid-cols-3 m-2">
            <app-order-card
                *ngFor="let order of allorders | paginate: { itemsPerPage: 10, currentPage: Page, totalItems: getAllOrdersResponse?.total }"
                [order]="onOrder(order)" (changeOrder)="loadOrderData()"></app-order-card>
        </div>
    </div>
    <div class="mt-4">
        <div class="flex justify-center items-center">
            <pagination-controls class="my-pagination" (pageChange)="onPageChange($event)"></pagination-controls>
        </div>
    </div>
</div>