
<div class="flex overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full semi-transparent-bg md:inset-0 h-screen max-h-full">
        <div class="flex flex-col items-center py-5 w-4/5 md:w-1/3 h-1/2 bg-white rounded-md">
            <div class="text-8xl">
                <mat-icon inline="true" class="text-modifiedGreen">check_circle_outline</mat-icon>
            </div>
            <h1 class="text-2xl text-gray-500 font-bold">Order Placed</h1>
            <p class="mt-4">Order has been placed successfully</p>
            <div class="flex space-x-2 mt-4">
                <button class="bg-blue-400 w-16 h-12 rounded-md text-white" (click)="onConfirmOrder()">Ok</button>
            </div>
        </div>
</div>